#main-div {
    width: 250px;
    position: relative;
    left: 0; right: 0;
}

div {
    text-align: center;
    margin: auto;
}

#result-tooltip {
    display: none;
    text-align: center;
}

.result {
    text-align: center;
}

.result-button {
    margin-right: 10px;
    margin-top: 15px;

    color: white;
    background-color: #216ec7;
    border-color: #2140c7;
    border-width: 2px;
}

.result-button:active {
    background-color: #216ec7;
    border-color: #dddddd;
}

#calculate-button {
    font-size: 15px;
}

#canvas {
    display: none;
    margin: auto;
    position: relative;
}

#header {
    font-size: 23px;
}

#input-label, #error-label {
    color: red;
}

#error-label {
    margin-top: 10px;
}

#steps-label {
    color: blue;
}

#help-div {
    margin-top: 40px;
    display: none;
    z-index: 2;
    position: absolute;
    width: 230px;
    height: fit-content;
    -moz-height: fit-content;
    padding: 5px;
    top: 200px; bottom: 0;
    left: 0; right: 0;

    color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    background-color: rgb(0, 119, 255);
}

input {
    width: 70%;
    margin-bottom: 15px;
}